
@{
    ViewBag.Title = "showcategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="col-lg-8 grid-margin stretch-card" style="text-align:center ; margin:115px">
    <div class="card">
        <div class="card-body">

            <p class="card-description">
                show category
            </p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>category name</th>
                            <th>image category</th>
                            <th>~</th>
                            <th>~</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="color: #FFD333">1</td>
                            <td style="color: #FFD333">color</td>
                            <td> <img src="~/master/img/offer-1.jpg" />  </td>

                            <td class="text-danger">
                                <a href="https://localhost:44333/dashboard/Addcategory" type="button" class="btn btn-inverse-success btn-fw">Add</a>
                            </td>
                            <td>
                                <a href="https://localhost:44333/dashboard/editcategory" type="button" class="btn btn-inverse-warning btn-fw">Edit</a>
                            </td>

                            <td>
                                <a href="https://localhost:44333/dashboard/deletecategory" type="button" class="btn btn-inverse-danger btn-fw">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #FFD333">1</td>
                            <td style="color: #FFD333">color</td>
                            <td> <img src="~/master/img/offer-1.jpg" />  </td>

                            <td class="text-danger">
                                <a href="https://localhost:44333/dashboard/Addcategory" type="button" class="btn btn-inverse-success btn-fw">Add</a>
                            </td>
                            <td>
                                <a href="https://localhost:44333/dashboard/editcategory" type="button" class="btn btn-inverse-warning btn-fw">Edit</a>
                            </td>

                            <td>
                                <a href="https://localhost:44333/dashboard/deletecategory" type="button" class="btn btn-inverse-danger btn-fw">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #FFD333">1</td>
                            <td style="color: #FFD333">color</td>
                            <td> <img src="~/master/img/offer-1.jpg" />  </td>

                            <td class="text-danger">
                                <a href="https://localhost:44333/dashboard/Addcategory" type="button" class="btn btn-inverse-success btn-fw">Add</a>
                            </td>
                            <td>
                                <a href="https://localhost:44333/dashboard/editcategory" type="button" class="btn btn-inverse-warning btn-fw">Edit</a>

                            </td>

                            <td>
                                <a href="https://localhost:44333/dashboard/deletecategory" type="button" class="btn btn-inverse-danger btn-fw">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #FFD333">1</td>
                            <td style="color: #FFD333">color</td>
                            <td> <img src="~/master/img/offer-1.jpg" />  </td>

                            <td class="text-danger">
                                <a href="https://localhost:44333/dashboard/Addcategory" type="button" class="btn btn-inverse-success btn-fw">Add</a>
                            </td>
                            <td>
                                <a href="https://localhost:44333/dashboard/editcategory" type="button" class="btn btn-inverse-warning btn-fw">Edit</a>
                            </td>


                            <td>
                                <a href="https://localhost:44333/dashboard/deletecategory" type="button" class="btn btn-inverse-danger btn-fw">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #FFD333">1</td>
                            <td style="color: #FFD333">color</td>
                            <td> <img src="~/master/img/offer-1.jpg" />  </td>

                            <td class="text-danger">
                                <a href="https://localhost:44333/dashboard/Addcategory" type="button" class="btn btn-inverse-success btn-fw">Add</a>
                            </td>
                            <td>
                                <a href="https://localhost:44333/dashboard/editcategory" type="button" class="btn btn-inverse-warning btn-fw">Edit</a>
                            </td>

                            <td>
                                <a href="https://localhost:44333/dashboard/deletecategory" type="button" class="btn btn-inverse-danger btn-fw">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #FFD333">1</td>
                            <td style="color: #FFD333">color</td>
                            <td> <img src="~/master/img/offer-1.jpg" />  </td>

                            <td class="text-danger">
                                <a href="https://localhost:44333/dashboard/Addcategory" type="button" class="btn btn-inverse-success btn-fw">Add</a>
                            </td>
                            <td>
                                <a href="https://localhost:44333/dashboard/editcategory" type="button" class="btn btn-inverse-warning btn-fw">Edit</a>
                            </td>

                            <td>
                                <a href="https://localhost:44333/dashboard/deletecategory" type="button" class="btn btn-inverse-danger btn-fw">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

